body {
    background-color: green;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hand {
    position: absolute;
    height:548px;
    margin-left:auto;
    margin-right:auto;
    position:relative; /* and this has to be relative */
    width:731px;
}

.odd-card {
    max-width: 65%;

    left:50px; /* play around with this */
    position:absolute;
    top:90px; /* and play around with this */

}


.down-card {
    max-width: 58%;
}

.chatbox {
    width: 20%;
    position: fixed;
    right: 5px;
    bottom: 5px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: .5em;
}

.main {
    min-height: 100vh;
    min-width: 100vh;
    /* display: flex; */
    background-color: green;
    /* position: absolute; */

}

.welcome {
    position: fixed;
    top: 3px;
    left: 3px;
}

.chip {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-flex;
    cursor: pointer;
    align-items: center; 
    justify-content: center;
    margin: 5px;
}

.chips-bet {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: inline-flex;
    cursor: pointer;
    align-items: center; 
    justify-content: center;
    margin: 5px;
}

.chip-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

